<div class='atlas'>
  <div id='map'></div>
</div>

<div class='post'>
  <h1>All Posts </h1>
  <a href="<%=new_post_path(@post)%>">New Post</a>
  <%@posts.each do |post|%>
    <p><%=post.location%></p>
    <p><%= link_to(post.content, post_path(post))%></p>
  <%end%>
</div>

<input type="text" id="latitude" />
<input type="text" id="longitude" />
<input type="text" id="zoom" />
<button type="button" id="search">Click me!</button>
