<h1>Post Details</h1>

<p><a href='/posts/<%=@post.id%>/edit'>Edit Post</a></p>
<p><%=@post.location%></p>
<p><%=@post.created_at%></p>

<%= button_to "Delete", @post, method: :delete, data: {confirm: "Are you sure?"} %>
